@import '../../styles/colors.scss';

.main {
  color: $Black;
  
  .form {
    margin:60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 400;
      
    }

    .span {
      display: inline-block;
      height: 1px;
      width: 350px;
      margin-top: 2px;
      margin-bottom: 30px;
      background-color: $Black;
    }  
    .inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
     
  
      input[type='password'],
      input[type='email'],
      input[type='text'] {
        margin: 10px;
        width: 100px;
        
      }
    }
    .btn:hover {
      background-color: #ff5edf;
    }

    .input-grp {
      position: relative;
      
      .input {
        margin: 20px;
        padding: 5px;
        width: 300px;
      }
      .icon {
        color: $Black;
      }

      .label {
       
        margin-bottom: 50px;
        position: absolute;
        top: 0px;
        left: 18px;
     }
    }
    .buttons{
     
     width: 330px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
      display: flex;
      flex-direction: row;
      
      .back{
        cursor: pointer;
      .back-btn{
        margin-top: 20px;
        border: none;
        background-color: transparent;
     }
    }
    .btn {
      
      text-transform: uppercase;
      background-color: $Black;
      color: $white;
      margin-top: 10px;
      margin-left: 12px;
      width:100px;
      height: 40px;
      border: none;
      cursor: pointer;
    }
    .btn:hover {
      background-color: $white;
      color: $Black;
      border: 1px solid $Black;
    }
  }
    .new-customers {
      margin-top: 30px;
      .para {
        width: 350px;
        font-size: 80%;
      }
      
    }
  }
}

form + p {
  margin-top: 100px;
}
