@import '../../styles/colors.scss';

.main {
  font-weight: 700;
  color: $Black;
  
  .form {
    height: 500px;
    width: 500px;
    margin: 50px auto;
    padding: 10px;

    .input-grp {
      position: relative;
      .input {
        margin: 20px;
        //border: none;
        padding: 5px;
      }
      .icon {
        color: $Black;
      }

      .label {
        position: absolute;
        top: -4px;
        left: 0px;
      }
    }
    .btn:hover {
      background-color: $Black;
      color: white;
    }
  }
}

form + p {
  margin-top: 100px;
}
