@import '../../styles/colors.scss';
.fas.fa-search{
  color: black;
}
.search-text{
  width: 250px;
  margin-top:20px ;
  border: none;
  border-bottom: 2px solid black;
  background-color: #EEEEEE;
  color: $light-grey;
  letter-spacing: 2px;
  &:focus{
    color: $dark-grey;
    font-style: bold;
  }
  &, select {
    outline: none;
    padding: 10px;
  }
  
  &::placeholder{
    font-style: italic;
    color: black;
  }
}
