.kurticard{
display: grid;
grid-template-columns: auto auto auto;


.card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.container{
  margin-top: 70px;
  height: 400px;
  width: 300px;
  overflow: hidden;
.img{
  height: 400px;
  width: 300px;
  transition: transform .5s ease;
  &:hover{
    cursor: pointer;
    transform: scale((1.5));
  }
}
}
.tag{
  margin-top: 15px;
  font-size: large;
}
}

@media screen and (max-width: 800px){
  .kurticard{
    display: grid;
    grid-template-columns: auto auto;
    
  }
}

