@import '../../styles/_colors.scss';

.kurticard{
display: grid;
grid-template-columns: auto auto auto;


.card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.container{
  margin-top: 70px;
  height: 400px;
  width: 300px;
  overflow: hidden;
.img{
  height: 400px;
  width: 300px;
  transition: transform .5s ease;
  &:hover{
    cursor: pointer;
    transform: scale((1.5));
  }
}
}
.tag{
  margin-top: 15px;
  
  color: $light-black;
}
.span{
  height: 1px;
  width: 300px;
  margin:10px 0;
  background-color: $grey;
  opacity: 0.4;
  display: block;
}
}

@media screen and (max-width: 800px){
  .kurticard{
    display: grid;
    grid-template-columns: auto auto;
    
  }
}

