$backgrund: #cfcfcf;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $backgrund;
  color: black;
}
.component {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: fit-content;
  min-height: fit-content;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .collection-component {
    position: relative;
    width: 300px;
    height: 300px;
    background: #ff0;
    margin: 30px;
    box-sizing: border-box;
    display: inline-block;
    filter: drop-shadow(0 0 50px rgb(61, 61, 61));
    // box-shadow: 10px 10px 100px rgb(61, 61, 61);
    .imgBox {
      position: relative;
      overflow: hidden;
      img {
        max-width: 100%;
        transition: transform 2s;
      }
    }
    &:hover .imgBox img {
      transform: scale(1.1);
      filter: blur(1px);
    }
    .details {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      background: rgba($color: #000000, $alpha: 0.7);
      transform: scaleY(0);
      transition: transform 0.9s;
      .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 75px;
        letter-spacing: 3px;
        color: wheat;
        //cursor: pointer;
        h2 {
          margin: 0;
          padding: 0;
          font-size: 20px;
          color: white;
        }
      }
      #collection {
        padding-left: 50px;
      }
    }
    &:hover .details {
      transform: scaleY(1);
    }
  }
}
@media screen and (max-width: 480px) {
  .component {
    .collection-component {
      .details {
        transform: scaleY(1);
      }
    }
  }
}
