.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  height: 100%;
  width: auto;
  display: table;
  margin: auto;
  position: static;
  vertical-align: middle;
  justify-content: center;
  .icon {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #f8faf5;
    margin: 0 auto;
    border: 1px solid transparent;
    transition-duration: 0.5s;
    &:hover {
      border: 2px solid black;

      box-shadow: 1px 1px 5px black;
      transition-duration: 0.5s;
    }
  }
  .Success {
    color: #88b04b;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .lines {
    color: #404f5e;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
  }
  .checkmark {
    color: #9abc66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;

    transition-duration: 0.5s;
    &:hover {
      color: #000000;
      text-shadow: 1px 1px 5px black;
      transition-duration: 0.5s;
    }
  }
}
