$background: #f5f5f5;
$textcolor: rgb(211, 204, 204);
$hovercolor: rgb(234, 199, 26);
$navcolor: black;

* {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

@mixin alignment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin onHover {
  color: $hovercolor;
  /*text-decoration: underline;
  text-underline-position: below;*/
}

// body {
//   background-color: $background;
// }

/*DESKTOP VIEW*/

nav {
  @include alignment();
  min-height: 10vh;
  background-color: $navcolor;
  padding: 0 40px;

  .logo {
    color: $textcolor;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    display: flex;
    cursor: pointer;
    span {
      display: inline-flex;

      &:nth-child(even) {
        overflow: hidden;
        transition: ease-out 0.5s;
        color: $hovercolor;
        letter-spacing: -1em;
      }
    }
    &:hover span:nth-child(even) {
      letter-spacing: 0;
      transition-delay: 0.2s;
    }
    &:hover .e {
      transition-delay: 0.5s;
      transform: scale(-1, 1);
    }
  }
}

.nav-links {
  @include alignment();
  width: 100%;
  li {
    list-style: none;
  }
  a {
    color: $textcolor;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 12px;
    &:hover {
      @include onHover();
    }
  }
}

.dropdown-content {
  //Dropdown Content (Hidden by Default)
  display: none;
  position: absolute;
  background-color: $navcolor;
  min-width: 100px;
  padding-top: 14px;

  a {
    color: $textcolor;
    padding: 10px 10px;
    display: block;
    position: relative;
    z-index: 20;
    background: black;
    color: white;

    &:hover {
      //Styling of dropdown content on hover
      background: white;
      color: black;
    }
  }
}

/* Show the dropdown menu on hover */
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    color: $hovercolor;
    text-decoration: underline;
    text-underline-position: under;
    .dropdown-content {
      display: block;
      text-decoration: none;
    }
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  i {
    color: $textcolor;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      color: white;
    }
  }
}

.bar {
  display: none;
  cursor: pointer;
}
.bar div {
  width: 25px;
  height: 3px;
  background-color: $hovercolor;
  margin: 5px;
  transition: all 0.3s ease;
  &:hover {
    background-color: white;
  }
}

/*MOBILE VIEW*/

@media screen and (max-width: 249px) {
  body {
    display: none;
  }
}

@media screen and (max-width: 900px) and (min-width: 250px) {
  body {
    overflow-x: hidden;
  }
  nav {
    justify-content: space-around;
    width: 100%;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    height: 90vh;
    top: 10vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100vh;
    padding-left: 0px;
    transform: translateX(-100%);
    transition: transform 0.75s ease-out;
    z-index: 20;
  }

  .dropdown-content {
    position: static;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    width: 10%;
    padding-right: 100px;
  }

  .bar {
    margin-right: 70px;
    display: block;
  }
  i {
    margin-right: 10px;
  }
}

.navactive {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cross .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.cross .line2 {
  opacity: 0;
}
.cross .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
